body {
  background-color: cornsilk;
}
.result-container {
  background-color: burlywood;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  /* gap:1rem; */
  text-transform: capitalize;
  width: 90vw;
}
#textarea {
  margin-top: 10px;
  width: 90vw;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 18px;
}
